<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">



    <!-- The singleton hibernate session factory -->
    <bean id="sessionFactory" scope="singleton"
          class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="configLocation" value="/WEB-INF/hibernate.cfg.xml" />
    </bean>
    <!-- Spring's hibernate transaction manager -->
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>




   <!-- Beans-->
    <bean id="UserLogin" class="com.pms.dao.LoginDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="Project" class="com.pms.dao.ProjectDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="UserStory" class="com.pms.dao.UserStoryDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="Task" class="com.pms.dao.TaskDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="User" class="com.pms.dao.UserDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>


</beans>









